.idea/
*.m~
.MATLABDriveTag
out/
*.asv
*.vs
*.ps
*.log
*.aux
*.out
!out/readme*
!lib/readme*
*.toc
*.snm
*.synctex*
*.nav
objs/*
*.blend
*.blend1
*build*
!*Builder*
*.mat
*.csv
2d/data/cached/*
3d/data/cached/*
!2d/data/cached/readme.txt
!3d/data/cached/readme.txt
